:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}

.gpt4-footer {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}

.gpt4-footer-copyright {
    margin:2rem;
    position: relative;
}

.gpt4-footer-copyright p {
    font-weight: 500;
    font-size: 14px;
}

@media(max-width:758px) {
    .section_margin {
        margin: 4rem;
    }

    .section_padding {
        padding: 4rem;
    }
}

@media(max-width:550px) {
    .section_margin {
        margin: 4rem 2rem;
    }

    .section_padding {
        padding: 2rem;
    }
}